services:
  llm:
    build: .
    container_name: "llm"
    command: ["streamlit", "run", "app.py", "--server.port=8503"]
    tty: true
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ".:/projects"
    working_dir: /projects
    ports:
      - 8503:8503
